NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://car:carwebsite123@cluster0.4rplyiz.mongodb.net/carwebsite?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=23d96bb1024461fa518d3f4a2374cfb088336e282b58ce9640b038fac339cc3b134cc0bb738a2a5018c038abd5d5a88daaeaf9ae368a96f95db168cfdd2f3e7e
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@motora.com
ADMIN_PASSWORD=ChangeMe123!
